.flex {
  display: flex;
}

.center-y {
  align-items: center;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}
